*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../pictures/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.qi-container{
    padding: 15px;
    width: 680px;
    height: 300px;
    
}

.qi-picture-container{
    width: 300px;
    height: 300px;
    float: left;
}

.qi-picture-container:hover{
    opacity: 0.85;
}

.qi-name{
    width: 300px;
    height: 50px;
    position: relative;
    top: -300px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
}
.qi-name-center{
    width: 100%;
    text-align: center;
    color:whitesmoke;
    font-size: 20px;
}

.qi-image{
    width: 300px;
    height: 300px;
    text-align: center;
}

.qi-rating{
    border: solid 1px black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -100px;
    left: 250px;

    display: flex;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
}
.qi-rating-center{
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}

.qi-text{
    border: solid 1px black;
    width: 300px;
    height: 300px;
    float: left;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
p{
    margin-left: 10px; 
}

.qi-actions{
    border: solid 1px black;
    width: 50px;
    height: 300px;
    float: left;
}
.qi-button-container{
    width: 100%;
    margin-top: 10px;
}
.qi-button{
    margin-top: 5px;
    width: 100%;
    height: 45px;
    text-align: center;
}

@media(max-width: 767px){
    .qi-container .qi-text{
        display: none;
    }
    .qi-container .qi-actions{
        display: none;
    }

    .qi-picture-container:hover~.qi-actions, .qi-actions:hover{
        display: block;
    }
}