*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.qi-picture-container{
    width: 300px;
    height: 300px;
    margin: 15px;
}

.qi-name{
    width: 300px;
    height: 50px;
    position: relative;
    top: -300px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
}
.qi-name-center{
    width: 100%;
    text-align: center;
    color:whitesmoke;
    font-size: 20px;
}

.qi-image{
    width: 300px;
    height: 300px;
    text-align: center;
}

.qi-rating{
    border: solid 1px black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -100px;
    left: 250px;

    display: flex;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
}
.qi-rating-center{
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}